<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Nick's shitty chess engine</title>
  <link rel="stylesheet"
      href="static/css/chessboard-1.0.0.css">
<body>

<!--- Begin Example HTML ------------------------------------------------------>
<div id="myBoard" style="width: 400px"></div>
<!--- End Example HTML -------------------------------------------------------->
<p>Refresh browser to reload position</p>
<button onClick="switchColors()" type="button">Change Pieces</button>
<button onClick="flipOrientationBtn()" type="button">Flip Board</button>
<button onClick="resetGame()" type="button">Reset Game</button>
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>


<script type=text/javascript src="{{
  url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<script>

let board;

function flipOrientationBtn() {
	board.orientation('flip')
}

async function resetGame() {
	const response = await fetch("/reset", {
		method: "POST",
    headers: {
      'Content-Type' : 'application/json'
    }
  }).then( 
  setupBoard())
}

async function switchColors() {
  const response = await fetch("/switchColors", {
    method: "POST",
    headers: {
      'Content-Type' : 'application/json'
    }
  })

	if (response.ok) {
		board.flip()
		const position = await response.text()
		board.position(position)
	}
	else {
		// Could be that game has already started
		console.log("Error switching colors. If the game has already started, first reset game.")
	}
}

async function fetchBoard() {
  // Fetch the initial board state 
  const response = await fetch("/board");
  if (!response.ok) {
    console.log("Error fetching initial board state");
    return;
  }
  
  const initialBoardStateJson = await response.text();
  const initialBoardState = JSON.parse(initialBoardStateJson);
  const initialPiecePlacement = initialBoardState.substr(0, initialBoardState.indexOf(' '));
  
  console.log("Initial piece placement: ", initialPiecePlacement);
  return initialPiecePlacement;
}

async function setupBoard() {
  initialPiecePlacement = await fetchBoard();
  console.log(initialPiecePlacement);
  var config = {
      position: initialPiecePlacement,
      draggable: true,
      pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png',
      onDrop: onDrop,
      sparePieces: true,
			showErrors: console
  }
  console.log(config);
  board = Chessboard('myBoard', config);
}

// Call the async function to set up the board
setupBoard();

function extractRelevantFen(fullFen) {
  // Split the FEN string by spaces and take the first element
	const sanitizedFen = fullFen.replace(/^"|"$/g, '');
  const parts = sanitizedFen.split(' ');
  return parts[0];
}

async function handleResponse(response, source, target, piece, newPos, oldPos, orientation) {
  if (!response.ok) {
    console.log("Trying to return snapback...");
    // Fetch the board state from the server
    const boardResponse = await fetch("/refresh");
    if (!boardResponse.ok) {
      console.log("Error fetching board state");
      return;
    }
    const boardState = await boardResponse.text(); 
    // Set the board state
    console.log("Setting board position to " + boardState);
    let piecePlacement = extractRelevantFen(boardState);
    board.position(Chessboard.fenToObj(piecePlacement), false);
    console.log("Received 418, setting back to old position");
  } else {
    const data = await response.json();
    if (Chessboard.objToFen(newPos) != data.substr(0, data.indexOf(' '))) {
      console.log("Setting board position to " + data);
      board.position(data, false);
    }
  }
}

async function onDrop(source, target, piece, newPos, oldPos, orientation) {
  const payload_string = source + ',' + target;
  const response = await fetch("/board", {
    method: "POST",
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(payload_string)
  });

  handleResponse(response, source, target, piece, newPos, oldPos, orientation);
}
</script>
</div>
</body>
</html>
