<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Nick's shitty chess engine</title>
  <link rel="stylesheet"
      href="static/css/chessboard-1.0.0.css">
<body>

<!--- Begin Example HTML ------------------------------------------------------>
<div id="myBoard" style="width: 400px"></div>
<!--- End Example HTML -------------------------------------------------------->
<p>Refresh browser to restart the game.</p>

<script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>


<script type=text/javascript src="{{
  url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<script>

// Re-enable when the engine is implemented
// function onDragStart (source, piece, position, orientation) {
//   if ((orientation === 'white' && piece.search(/^w/) === -1) ||
//       (orientation === 'black' && piece.search(/^b/) === -1)) {
//     return false
//   }
// }
let board;

async function setupBoard() {
  // Fetch the initial board state from the server
  const response = await fetch("/board");
  if (!response.ok) {
    console.log("Error fetching initial board state");
    return;
  }
  
  const initialBoardStateJson = await response.text();
  const initialBoardState = JSON.parse(initialBoardStateJson);
  const initialPiecePlacement = initialBoardState.substr(0, initialBoardState.indexOf(' '));
  
  console.log("Initial piece placement: ", initialPiecePlacement);  // Add this line

  var config = {
      position: initialPiecePlacement,
      draggable: true,
      pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png',
      onDrop: onDrop,
      sparePieces: true
  }

  board = Chessboard('myBoard', config);
}

// Call the async function to set up the board
setupBoard();

async function onDrop(source, target, piece, newPos, oldPos, orientation) {
  const payload_string = source + ',' + target;
  const response = await fetch("/board", {
    method: "POST",
    headers: {
      'Content-Type' : 'application/json'
    },
    body: JSON.stringify(payload_string)
  })

  if (!response.ok) {
    console.log("Trying to return snapback...")
    // Fetch the board state from the server
    const boardResponse = await fetch("/board");
    if (!boardResponse.ok) {
      console.log("Error fetching board state");
      return;
    }
    const boardState = await boardResponse.text(); // Assuming the server returns a plain text FEN string
    // Set the board state
    console.log("Setting board position to " + boardState)
    peicePlacement = boardState.substr(0, boardState.indexOf(' '))
    board.position(peicePlacement, false)
  } else {
    const data = await response.json();
    if (Chessboard.objToFen(newPos) != data.substr(0,data.indexOf(' '))){
      console.log("Setting board position to " + data)
      board.position(data, false)
    }
  }
}



//var config = {
//    position: 'start',
//    draggable: true,
//    pieceTheme: 'static/img/chesspieces/wikipedia/{piece}.png',
//    onDrop: onDrop,
//    sparePieces: true
//  //onDragStart: onDragStart //renable when engine is implemented
//}
//
//
//var board = Chessboard('myBoard', config);
</script>
</div>
</body>
</html>
